@import '../../../../variables';

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;

  @include respond(phone) {
    padding: 2rem 0;
  }

  &List {
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex: 0 0 35%;
    display: flex;

    @include respond(phone) {
      display: none;
    }
  }

  &Link:link,
  &Link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--green);
  }

  &Link:hover,
  &Link.active,
  &Link:active {
    color: var(--light-green);
    text-decoration: underline;
  }

  &Form {
    @include respond(phone) {
      display: none;
    }

    & input {
      margin-right: 2rem;
      padding: 1rem 2rem;
      border: 2px solid var(--green);
      border-radius: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  &Btn {
    color: white;
    background-color: var(--green);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--light-green);
    }

    &:focus {
      outline: none;
    }
  }

  &Navbtn {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--green);

    & svg {
      fill: currentColor;
      height: 4rem;
      width: 4rem;
    }

    &:focus {
      outline: none;
    }

    @include respond(phone) {
      display: block;
    }
  }
}
