@import '../../variables';

.Admin {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  &Form {
    margin: 5rem 0;
    // border: 2px solid var(--green);
    width: 50rem;
    padding: 4rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0.5rem 2rem var(--green);

    @include respond(phone) {
      width: 100%;
    }
  }

  &Login {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &Label {
    padding-left: 1rem;
    color: var(--green);
    transform: translateY(-3.5rem);
    transition: transform 0.5s;
    text-align: left;
  }

  &Input {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--green);
    box-shadow: 0 0.5rem 1rem #0d851360;

    &:focus {
      outline: none;
    }
  }

  &Input:focus + &Label {
    transform: translateY(0);
  }

  &Error {
    color: red;
    text-align: left;
  }

  &Btn {
    color: var(--green);
    background-color: #fff;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: 2px solid var(--green);
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem #0d851360;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: var(--green);
      color: #fff;
    }
  }
}
