@import '../../../variables';

.footer {
  background-color: #3b3b3b;
  color: #aaaaaa;
  padding: 4rem 0;
  font-size: 1.4rem;

  &Btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(phone) {
      flex-flow: column;
      align-items: center;
    }
  }

  &Hrs {
    flex: 0 0 30%;

    @include respond(phone) {
      flex: none;
      margin: 5rem 0;
    }

    & p {
      @include respond(phone) {
        margin-right: 5rem;
      }
    }
  }

  &H3 {
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &List {
    list-style: none;
  }

  &Items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &End {
  }

  &Icon {
    margin-bottom: 4rem;

    & svg {
      fill: #aaaaaa;
      height: 3rem;
      width: 3rem;

      &:hover {
        fill: var(--green);
      }
    }
  }

  &Link:link,
  &Link:visited {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
