@import '../../variables';

.logo {
  width: 10rem;
  margin-right: 4rem;

  @include respond(phone) {
    margin-right: 0;
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    & img {
      width: 100%;
    }
  }
}
