.card {
  padding: 10rem 0;
  color: var(--green);

  &Cards {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(25rem, 1fr)
    );
    grid-gap: 5rem;
  }

  &Link:link,
  &Link:visited {
    text-decoration: none;
    color: var(--green);
    font-size: inherit;
  }

  &Items {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    font-size: inherit;
    display: flex;
    color: var(--green);
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    flex-flow: column;

    &:focus {
      outline: none;
    }
  }

  &Img {
    height: 20rem;
    overflow: hidden;

    &:hover img {
      transform: scale(1.5);
    }

    & img {
      height: 100%;
      width: 100%;
      transition: all 0.5s;
    }
  }

  &Des {
    padding: 2rem;
  }

  &Name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    & span {
      text-transform: capitalize;
    }
  }

  &Descript {
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    & span {
      text-align: left;
      margin-top: 0.5rem;
      height: 10rem;
    }
  }
}
