@import './variables';

:root {
  --green: #0d8513;
  --light-green: #66da6c;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(mid) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 60%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}
